schema/SeverusLetters.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODD Customization for Severus of Antioch, Letters</title>
        <principal>Daniel L. Schwartz</principal>
        <editor role="editor" ref="http://syriaca.org/person.xml#dschwartz">Daniel L.
          Schwartz</editor>
        <respStmt>
          <resp>XML created by</resp>
          <name type="person" ref="http://syriaca.org/person.xml#dschwartz">Daniel L.
            Schwartz</name>
        </respStmt>
      </titleStmt>
      <publicationStmt>
        <authority>Daniel L. Schwartz</authority>
        <availability>
          <licence target="http://creativecommons.org/licenses/by/4.0/">
            <p>Creative Commons — Attribution 4.0 International — CC BY 4.0</p>
            <p>https://creativecommons.org/licenses/by/4.0/</p>
          </licence>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Born Digital</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="SeverusLetters" start="TEI">
        <moduleRef key="header" include="authority availability change correspAction correspDesc creation distributor edition editionStmt editorialDecl encodingDesc extent fileDesc idno licence principal profileDesc publicationStmt revisionDesc sourceDesc sponsor teiHeader titleStmt "/>
        <moduleRef key="core" include="author biblScope biblStruct date editor head imprint monogr name p pb publisher pubPlace resp respStmt title"/>
        <moduleRef key="tei"/>
        <moduleRef key="msdescription" include="origDate"/>
        <moduleRef key="textstructure" include="body div TEI text trailer"/>
        <moduleRef key="namesdates" include="forename persName placeName surname"/>
        
        <elementSpec ident="head" module="core" mode="change">
          <content>
            <sequence preserveOrder="false">
              <elementRef key="persName" minOccurs="0" maxOccurs="unbounded"/>
              <textNode/>
            </sequence>
          </content>
          
          <attList>
            <attDef ident="type" mode="replace" usage="req">
              <datatype>
                <dataRef key="data.enumerated"/>
              </datatype>
              <valList type="closed">
                <valItem ident="main">
                  <desc>The main heading of a letter.</desc>
                </valItem>
                <valItem ident="sub">
                  <desc>The subheading of a letter.</desc>
                </valItem>
              </valList>
            </attDef>
            
            <attDef ident="resp" mode="replace" usage="req">
              <datatype>
                <dataRef key="data.enumerated"/>
              </datatype>
              <valList type="closed">
                <valItem ident="compiler">
                  <desc>The 6th century compiler of this letter collection.</desc>
                </valItem>
                <valItem ident="editor">
                  <desc>The modern editor responsible for this edition of the letters.</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
          
        </elementSpec>
        
        <elementSpec ident="persName" module="namesdates" mode="change">
          <content>
            <alternate>
              <sequence>
                <elementRef key="forename"/>
                <elementRef key="surname"/>
              </sequence>
              <textNode/>
            </alternate>
          </content>
          <constraintSpec ident="ref-on-persName" scheme="schematron">
            <constraint>
              <sch:rule context="tei:text//tei:persName/@ref">
                <sch:let name="standoff"
                  value="doc('https://raw.githubusercontent.com/dlschwartz/sandbox/master/HIST630SampleProject/Standoff.xml')"/>
                <sch:let name="personIDs"
                  value="$standoff//tei:listPerson/tei:person/@xml:id"/>
                <sch:let name="personRefValues" value="for $i in $personIDs return concat('#', $i)"/>
                <sch:let name="error" value="."/>
                <sch:assert
                  test=". = $personRefValues">
                  <sch:value-of select="$error"/> is not an identified person in the standoff markup for 
                  Severus' Letters. Acceptable values: <sch:value-of select="string-join($personRefValues, ', ')"/>.
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
        </elementSpec>
        
        <elementSpec ident="placeName" module="namesdates" mode="change">
          <content>
            <textNode/>
          </content>
          <constraintSpec ident="ref-on-placeName" scheme="schematron">
            <constraint>
              <sch:rule context="tei:text//tei:placeName/@ref">
                <sch:let name="standoff"
                  value="doc('https://raw.githubusercontent.com/dlschwartz/sandbox/master/HIST630SampleProject/Standoff.xml')"/>
                <sch:let name="placeIDs"
                  value="$standoff//tei:listPlace/tei:place/@xml:id"/>
                <sch:let name="placeRefValues" value="for $i in $placeIDs return concat('#', $i)"/>
                <sch:let name="error" value="."/>
                <sch:assert
                  test=". = $placeRefValues">
                  <sch:value-of select="$error"/> is not an identified person in the standoff markup for 
                  Severus' Letters. Acceptable values: <sch:value-of select="string-join($placeRefValues, ', ')"/>.
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          
        </elementSpec>
      </schemaSpec>
      
      
      
      
    </body>
  </text>
</TEI>
